[submodule "deps/nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
[submodule "deps/nanosplus-secure-sdk"]
	path = deps/nanosplus-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
[submodule "deps/nanox-secure-sdk"]
	path = deps/nanox-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/Zondax/ledger-zxlib.git
[submodule "deps/stax-secure-sdk"]
	path = deps/stax-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
[submodule "ledger-peaq-js"]
	path = js
	url = https://github.com/Zondax/ledger-peaq-js
[submodule "deps/BLAKE2"]
	path = deps/BLAKE2
	url = https://github.com/BLAKE2/BLAKE2
